// --Мин. ширина--
$minwidth: 320px;
// --

// --Цвета--

$green: #CCEE1E;
$g-black: #2E2E2E;
$gray: #616161;
$a7-gray: #A7A7A7;
$a3-gray: #A3A3A3;
$lightgray: #E5E5E5;
//--

// --Шрифты--
$roboto: 'Roboto', sans-serif;
$lincoln: 'Abraham Lincoln', sans-serif;
//--

// --Адаптивные точки--

//--
