//--Подключение файлов--
@import "vars";
@import "null";
@import "libs";
@import "fonts";
// --

// ==Стили==

// --Разметка--
.wrapper {
    min-height: 100%;
    overflow: hidden;
    background-color: $g-black;
}
.container {
    max-width: 1920px;
    min-width: $minwidth;
    margin: 0 auto;
    z-index: 2;
}
//--

// --Основные стили--
body{
    cursor: url(../img/cursor.png),default;
}
body.lock{
    overflow: hidden;
}
.header {
    position: relative;
    z-index: 100;
    &__row{
        width: 100%;
        display: flex;
        align-items: center;
        position: fixed;
    }
    &__logo{
        flex: 0 0 50%;
        &-link{

        }
        &-img{
            width: 127px;
            height: 127px;
        }
    }
    &__nav{
        flex: 0 0 44%;
    }
    &__list{
        display: flex; 
        justify-content: center;
        align-items: center;
    }
    &__item{
        padding-right: 88px;
        &-link{
            font-family: $roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #FFFFFF;
            &:hover{
                color: #ADC62C;
                transition: 0.5s all;
            }
        }
        &-link:nth-child(3){
            color: #ADC62C;
        }
    }
    &__item:last-child{
        padding-right: 73px;
    }
    &__burger{      
        &-img{
            border: 1px solid #FFFFFF;
            border-radius: 100%;
            padding: 17px;
            &:hover{
                border-color: #ADC62C;
                transition: 0.5s all;
            }
        }
    }
    &__popup{
        z-index: 10;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        top: 0;
        left: 0;
        opacity: 0.5;
        visibility: hidden;
        &:target{
            opacity: 1;
            visibility: visible;
        }
        &-body{
            min-height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 200;
        }
        &-content{
            width: 662px;
            background-color: #000000;
            padding-bottom: 90px;
        }
        &-img{
            
        }
        &-title{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-top: 43px;
            padding-bottom: 21px;
            padding-right: 43px;
        }
        &-text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &-age{
            padding-top: 43px;
            padding-bottom: 50px;
            &-label{
                font-family: $roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #A7A7A7;
                padding-right: 15px;
            }
            &-radio{
                border: 1px solid #FFFFFF;
                background: #000000;    
                & span{
                    position: relative;
                    display: inline-block;
                    width: 20px; height: 20px;
                    border-radius: 50%;
                    background: #000000;
                }
                &:checked + span{
                    background: #CCEE1E;
                }
                &:checked + span:before{
                    content: '';
                    position: absolute;
                    left: 6px; 
                    top: 6px;
                    background: #CCEE1E;
                    width: 8px; 
                    height: 8px;
                    border-radius: 50%;
                }
                &-label{
                    font-family: $roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    color: #FFFFFF;
                    padding-right: 24px;
                }
            }
        }
        &-buttons{
            & label{
                width: 195px;
                font-family: $roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #FFFFFF;
                background: #2E2E2E;
                border-radius: 42px;
                padding: 30px;
                margin-right: 25px;
                overflow: hidden;
                cursor: pointer;
                & img{
                    padding-top: 30px;
                    padding-left: 15px;
                }
            }
        }
        #fl_inp{
            display: none;
        }
        &-input{
            display: block;
            width: 383px;
            font-family: $roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #000000;
            background: #FFFFFF;
            border-radius: 48.5px;
            padding: 20px;
            padding-left: 25px;
            margin-bottom: 22px;
            &:last-child{
                margin-bottom: 0px;
            }
            &-btn{
                width: 164px;          
                font-family: $roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                color: #FFFFFF;
                background-color: #000000;
                border: 1px solid #ADC62C;
                border-radius: 42px;
                padding: 34px 66px;
                cursor: pointer;
            }
        }
    }
    &__menu{  
        width: 0;
        height: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        overflow-x: hidden;
        transition: 0.5s;
        background-color: #000000;
        &-component{
            position: relative;
            z-index: 200;
        }
        &-close{
            position: relative;
            z-index: 100;
            top: 2rem;
            left: 2rem;
        }
        &-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &-logo{
            width: 82.5px;
            height: 22px;
            padding-top: 123px;
        }
        &-nav{
            padding: 260px 148px 205px;
        }
        &-list{
            list-style: none;
            text-align: center;
        }
        &-item{
            padding-bottom: 48px;
            &:last-child{
                padding-bottom: 0px;
            }
        }
        &-link{
            font-family: $roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #FFFFFF;
            &:hover{
                transition: 1s all;
                color: #ADC62C;
            }
        }
        &-social{
            padding-bottom: 159px;
            &-item{
                padding-bottom: 25px;
                &:last-child{
                    padding-bottom: 0px;
                }
            }
            &-link{
                font-family: $roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                color: #787878;    
            }
        }
    }
}
.explore{
    &__row{

    }
}
.history{
    width: 100%;
    height: 1495px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5)), url(../img/second_screen/history-bg.jpg);
    background-repeat: no-repeat;
    &__row{

    }
    &__background{

    }
    &__leaf-1{
        position: relative;
        top: 40rem;
        left: 35rem;
    }
    &__leaf-2{
        position: relative;
        top: 65rem;
        left: 54rem;
    }
    &__grape-1{
        position: relative;
        top: 23.5rem;
        right: 29.5rem;
    }
    &__grape-2{      
        position: relative;
        right: -34rem;
        top: 16rem;
    }
    &__single-grape-1{
        position: relative;
        top: 66rem;
        right: 70rem;
    }
    &__single-grape-2{
        position: relative;
    right: 20rem;
    top: 45rem;
    }
    &__elipse{
        position: relative;
        top: -37.5rem;
        left: 40rem;
        z-index: 99;
    }
    &__circle{
        position: relative;
        top: -28.5rem;
        right: -12.3rem;
        z-index: 10;
    }
    &__year{
        position: relative;
        top: -22.5rem;
        right: 2.5rem;
        z-index: 10;
    }
    &__text{
        position: relative;
        top: -48rem;
        left: -1rem;
        font-family: Roboto,sans-serif;
        font-style: italic;
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #fff;
        z-index: 99;
    }
    &__link{
        text-decoration-line: underline;
        color: #CCEE1E;
    }
}
// Слайдер
.slider{
    position: relative;
    z-index: 1;
    &__item{
        height: 893px;
        padding: 0 27.5px;
    }
    &__img{
        position: relative;
        z-index: 3;
    }
    &__single-grape{
        position: absolute;
        top: 34%;
        left: 19%;
        z-index: 10;
    }
    &__second-grape{
        position: absolute;
        top: 60%;
        right: 22%;
        z-index: 10;
    }
    &__third-grape{
        position: absolute;
        top: 25%;
        right: 0%;
        z-index: 11;
    }
    &__fourth-grape{
        position: absolute;
        top: 65%;
        left: 0%;
        z-index: 10;
    }
    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
    }
    &__grape{
        position: absolute;
        top: 19%;
        left: 32.5%;
        z-index: 0;
    }
    &__bottle{
        position: absolute;
        top: 40%;
        left: 42%;
        z-index: 0;
    }
    &__head{
        position: absolute;
        top: 25%;
        z-index: 10;
        font-family: $lincoln;
        font-style: normal;
        font-weight: normal;
        font-size: 109px;
        line-height: 109px;
        text-align: center;  
        color: #FFFFFF;
    }
    &__text{
        position: absolute;
        top: 50%;
        z-index: 10;
        font-family: $roboto;
        font-style: italic;
        font-weight: 500;
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        color: #D3D3D3;
    }
    &__number{
        position: absolute;
        top: 85%;
        left: 7%;
        z-index: 11;    
        font-family: $lincoln;
        font-style: normal;
        font-weight: normal;
        font-size: 66px;
        line-height: 66px;
        text-align: center;
        color: #ADC62C;
    }
    &__slash{
        position: absolute;
        top: 85%;
        left: 10%;
        z-index: 11; 
        font-family: $lincoln;
        font-style: normal;
        font-weight: normal;
        font-size: 66px;
        line-height: 66px;
        text-align: center;
        color: #818181;
    }
    &__numberall{
        position: absolute;
        top: 86.7%;
        left: 11.5%;
        z-index: 11; 
        font-family: $lincoln;
        font-style: normal;
        font-weight: normal;
        font-size: 38px;
        line-height: 38px;
        text-align: center;
        color: #818181;
    }
    & .slick-arrow{
        position: absolute;
        top: 90%;
        z-index: 10;
        font-size: 0;
        cursor: pointer;
    }
    & .slick-arrow.prev{
        left: 83%;
    }
    & .slick-arrow.next{
        left: 86%;
    }
}
.about{
    width: 100%;
    min-height: 100vh;
    background:rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__linear{
        width: 100%;
        min-height: 100vh;
        background: url(../img/third_screen/about_bg.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    &__row{

    }
    &__leaf{
        position: relative;
        left: 50rem;
        top: 10rem;
    }
    &__grape{
        position: relative;
        left: 27.5rem;
        top: 22.5rem;
    }
    &__glass{
        position: relative;
        right: 33rem;
        top: 38rem;
        z-index: 100;
        &-2{
            position: relative;
            top: 28rem;
            left: 45rem;
            z-index: 100;
        }
    }
    &__content{
        position: relative;
        bottom: 20rem;
    }
    &__head{
        font-family: $lincoln;
        font-style: normal;
        font-weight: normal;
        font-size: 86px;
        line-height: 86px;
        text-align: center;
        color: #ADC62C;
    }
    &__text{
        font-family: $roboto;
        font-style: italic;
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #FFFFFF;
    }
    &__btn{
        position: relative;
        top: -15rem;
        display: flex;
        justify-content: center;
        align-items: center;
        &-link{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 30px;
            text-align: center;
            color: #FFFFFF;
            border: 1px solid #ADC62C;
            border-radius: 38.5px;
            padding: 24px 40px;
            &:hover{
                transition: 1s all;
                color: $g-black;
                background: linear-gradient(360deg, #ADC62C 2.6%, #E2FE52 96.75%);
            }
        }
    }
}
.footer{
    width: 100%;
    background: #000000;
    position: relative;
    z-index: 101;
    &__row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 73px 86px;
    }
    &__copyright{
        &-text{
            font-family: $roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #838383;
        }
    }
    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        &-text{
            font-family: $roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            color: #838383;
            padding-right: 51px;
        }
    }
    &__form{

    }
    &__name{
        font-family: $roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #838383;
        background: #000000;
        border: 1px solid #4E4E4E;
        border-radius: 39px;
        padding-right: 21px;
        padding-left: 36px;
        padding-top: 19px;
        padding-bottom: 19px;
        margin-right: 21px;
    }
    &__phone{
        font-family: $roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #838383;
        background: #000000;
        border: 1px solid #4E4E4E;
        border-radius: 39px;
        padding-left: 36px;
        padding-top: 19px;
        padding-bottom: 19px;
        margin-right: 21px;
    }
    &__btn{
        background: #383838;
        border-radius: 39px;
        font-family: $roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #838383;
        padding: 19px 56px;
        text-align: center;
        &:hover{
            transition: 1s all;
            background: linear-gradient(360deg, #ADC62C 2.6%, #E2FE52 96.75%);
        }
    }
    &__development{
        &-text{
            font-family: $roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #838383;
            & a{
                font-family: $roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #ADC62C; 
            }
        }
    }
}
//--

@import "media";
